* {
    box-sizing: border-box;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100vh;
    margin-bottom: 2%;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 2%;
    position: relative;
    transition: flex 0.7s ease-in;
    margin-bottom: 50px;
    border: 10%;
}

.panel h3 {
    font-size: 15px;
    position: absolute;
    bottom: 5px;
    left: 50px;
    opacity: 15;
    color: white;

}

.panel.active {
    flex: 7;
    border: 3px solid gray;
    border-radius: 5%;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.7s ease-in 0.4s;
    text-shadow: 0 0 3px blue, 0 0 5px red;
}

.h1 {
    text-align: center;
    margin: 0 0 5rem;
}

.desc {
    text-align: center;
    color: gray;
    margin: 0 0 2rem;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}